body {
    background: #212121;
    color: #ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


 main {
    flex: 1 0 auto;
  }

.brand-logo { 
    padding-left: 5px !important;
}


nav {
    background: linear-gradient(to right, #6f19d2, #11198a 90%);
}

.card-title {
    background: rgba(0, 0, 0, 0.9);
}

.card-image img{
    transform: scale(0.6);
    transition: 0.5s ease-in-out;
}

.card:hover .card-image img{
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}

.card-action a{
    margin: 10px;
}

.toast {
    background: #6f19d2 !important;
}

.buy-btn {
    margin-right: 10px;
}

.purchase-btn {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    color: white;
}

form {
    padding: 1rem;
}

footer {
    padding-bottom: 7px;
    padding-top: 6px;
    background-color: #0f0f0f !important;
}


@media(max-width: 500px){
    .phone-img{
        width: 260px;
    }
}